<section class="quem-somos">

  <div class="container-fluid banner" >
    <h1> NOSSA CULTURA</h1> <br>
  </div>

  <div class="row">
    <div class="col-12 col-md-4 valores">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3> Missão</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-12 col-md-4 valores">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3> Visão</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-12 col-md-4 valores">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3> Valores</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>


</section>
