.consulta-usuarios{
  background-color: #fff;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 5px 5px 18px -7px rgba(165, 163, 163, 0.2);
  max-width: 1200px!important;

  h1, p{
    color: #673ab7;
    text-align: center;
  }

  h1{
    font-size: 25px;
    font-weight: 600;
  }
}
