<section class="container home">
  <div class="row">

    <div>
      <h1>Olá!</h1>
      <p>Aqui você consegue ter acesso rápido aos nossos serviços:</p>
    </div>

    <div class="col-5 col-sm-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <a routerLink="/cadastro-usuario">Cadastro de Usuários</a>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="col-5 col-sm-6 ">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <a routerLink="/consulta-usuario">Consulta de Usuários</a>
            </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="col-sm-6 col-5">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <a routerLink="/quem-somos">Quem Somos</a>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="col-sm-6 col-5">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <a routerLink="/fale-conosco">Fale Conosco</a>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>


  </div>

</section>
